<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de productos</title>
</head>
<body>
    <h1>Control de productos almacenados</h1>
    <h2>Registrar productos</h2>
    <form>
        <label for="Nombre del producto:">producto</label>
        <input type="text">
        <label for="Cantidad:">cantidad</label>
        <input type="text">
        <label for="Precio unitario:">precio_unitario</label>
        <input type="text">
    </form>
</body>
</html>